<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Blogs</title>
    {{>showblogs__CSS}}
</head>
<body>
    {{>fixedNavBar}}
    {{>showblog__BODY}}
    {{>footer}}

    {{>showblogs__JS}}
</body>
</html>