<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {{>singleblog__CSS}}
</head>
<body>
    {{>fixedNavBar}}
    <div id="stateheading">{{blogdata.placename}}</div>
    {{>singlebblog__BODY}}
    {{>footer}}

    {{>singleblog__JS}}
</body>
</html>