<form method="post" action="/login">
    <h3>Login Here</h3>


    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email" name="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password">

    <button type="submit">Log In</button>
    <a href="/register">Don't have an account?</a>
    <a href="/" class="btn btn-danger" style="color: rgb(0, 216, 36);"> Go Back</a>
</form>