<div id={{statename}} class="statecard card mb-3 cardshadow" style="width: 80% ; height : 400px; margin : 40px auto" ;>
    <div class="row g-0">

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{statename}}</h5>
                <p class="card-text">{{statedesc}}</p>

            </div>
        </div>
        <div class="col-md-4">
            <img src={{stateimage}} class="img-fluid rounded-start Imageresize" alt="...">
        </div>
    </div>
</div>